# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Generated data & DB
data/
init-db/init_tmp.sql

# CMake / C++ build artifacts
benchmark/build/
benchmark/bin/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# IDE & OS
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db
